<br />
<br />
<form action="/personas" method="POST">
  <div class="form-group">
    <label for="nombre"><b>Nombre</b></label>
    <input
      type="text"
      class="form-control"
      placeholder="Nombre..."
      name="nombre"
      id="nombre"
    />
  </div>
  <br />
  <div class="form-group">
    <label for="apellido"><b>Apellido</b></label>
    <input
      type="text"
      class="form-control"
      placeholder="Apellido..."
      name="apellido"
      id="apellido"
    />
  </div>
  <br />
  <div class="form-group">
    <label for="edad"><b>Edad</b></label>
    <input
      type="number"
      class="form-control"
      placeholder="Edad..."
      name="edad"
      id="edad"
    />
  </div>
  <br />
  <button class="btn btn-primary">Ingrese la informacion</button>
</form>
